input, textarea, input:focus, textarea:focus {
	box-shadow: none;
}

.world-bg {
	background: none !important;
}

#body > header {
	padding: 0 .5em;
	/*font-size: 16px;*/
	height: 43px;
}

#body > header > div.left {
	//padding-top: 2px;
}

#body > header > div.left > h1 { display: none; }

#body > header > div.left > a.flower { display: inline }

#body > header > div.middle {
	font-size: 16px;
	text-align: center;
}

#body > header > div.middle .cur {
	font-weight: bold;
}

#body > header > div.middle a.mailbox {
	display: inline-block;
}

#login { display: none }

#search {
	position: absolute;
	top: 30px;
	right: 0;
}

#body > header > div.right {
	padding-right: 1em;
}

#body > header > div.right > button.search {
	display: inline-block;
	margin-top: 10px;
	padding: 0;
	background: none;
	box-shadow: none;
}

#search input {
	border: none;
	border-radius: 5px;
	background: #8e8 !important;
	font-size: 20px !important;
	margin-right: 10px !important;
	height: auto !important;
	padding: 3px 10px !important;
}

#search-res {
	font-size: 10pt;
}

#body > footer > div.left button.feedback {
	color: #666 !important;
	background: none;
}

#body > footer > div.right a {
	display: none;
}

#body > footer > div.right a.help {
	display: inline;
	padding: 0;
	margin-right: 10px;
}

#body > footer > div.right a.help:hover {
	margin-right: 3px;
	padding: 2px 7px;
	border-radius: 10px;
}

#help {
	left: 0;
	top: 0;
}

#help .frame-body {
	width: auto !important;
}

#help .frame-body .body ul {
	width: 100px !important;
}

#help .frame-body .body li {
	padding: 10px 2px !important;
	font-size: 90% !important;
}

#help .frame-body .body .topic {
	left: 90px !important;
	padding-right: 5px !important;
}

#help .frame-body .body .topic p {
	font-size: 85% !important;
}

section.feedback {
	left: auto !important;
	width: auto !important;
}


.trainer-edit {
	left: 0;
	right: 0;
	width: 90%;
}

.trainer-img {
	left: 20px;
}

#world .room-add {
	display: none;
	left: 1.5em;
	top: auto;
	bottom: 0;
}

#world .room-add input {
	height: auto;
	padding: 2px;
}

#world .room-add button {
	padding: 0 4px;
}

#explore div.tags form {
	display: table;
	width: 100%;
	padding: 0;
}

#explore div.tags form span.title {
	display: table-cell;
	box-sizing: border-box;
	padding: 0;
}

#explore div.tags input {
	display: table-cell;
	box-sizing: border-box;
	max-width: none;
	min-width: 0;
	/*width: 100%;*/
}

#mailbox header .top {
	margin-top: -20px;
}

#mailbox header h1.user-active {
	color: #888;
}

#mailbox header .left {
	float: none;
	width: 100%;
}

.dropit .dropit-open .dropit-submenu {
	z-index: 10000;
}

#mailbox nav {
	width: 100%;
	float: none;
}

#mailbox nav ul li {
	display: block;
}

#mailbox nav ul li:hover {
	transform: none;
}

#mailbox nav ul li figure {
}

#mailbox nav ul li figure .user {
	/*left: 40px;*/
	/*position: relative;*/
	left: 50px;
}

#app-login {
	position: fixed;
	z-index: 12001;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	background: #333;
	text-align: center;
}

#app-login form {
	position: absolute;
	top: 30%;
	left: 0;
	right: 0;
	margin: auto;
}

#app-login form input {
	border: none;
	border-radius: 5px;
	background: #cec !important;
	font-size: 20px;
}

#app-login form input:focus {
	background: #8e8 !important;
}

#app-login form input[type=password] {
	margin-top: 5px;
}

#app-login form button {
	margin-top: 1em;
	font-size: 20px;
}

button {
	border: none !important;
	box-shadow: none;
}

#app-login form input[type=password] {
	background: none;
	width: 250px;
	padding-left: 0;
	padding: 3px 10px;
}

#room #cover {
	margin: -5em -2em 0em -4em !important;
}

#room > header {
	position: relative;
}

#room > nav .pm, #room > nav .adds {
	display: inline-block;
	margin-right: .5em;
}

#room > header figure img {
	border: 2px solid #fff;
	max-width: 100px;
	max-height: 100px;
}

#posts figure img {
	max-width: 40px !important;
	max-height: 40px !important;
}

#posts .user, #posts .msg {
	display: block !important;
}

time {
	font-size: 80% !important;
}

#posts .msg ul.imgs img {
	max-width: 320px !important;
}

#body > footer .feedback textarea {
	border: none;
	border-radius: 5px;
	background: #f8f8f8;
	font-size: 16px;
}

#body > footer .feedback button {
	font-size: 14px !important;
}

#win-container {
	left: 0;
	border: none;
	box-shadow: none;
	text-align: center;
}

#win-container button[value=camera],#win-container button[value=album] {
	font-size: 20px;
	width: 80%;
}
